* {
  font-family: "Kodchasan", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.bilan {
  text-align: justify;
  margin: 100px 150px 200px 150px;
}
.bilan h2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-bottom: 0;
  color: #474747;
}
.underline {
  width: 80px;
  height: 2px;
  background-color: #e74040;
  margin: 5px 0 65px 0;
}
.textintro {
  font-size: 18px;
  margin: 0 30px 40px 30px;
  line-height: 30px;
}
.textlist {
  font-style: italic;
  margin: 50px 80px;
}
.bilan ul {
  margin: 50px 100px;
  line-height: 50px;
}
.bilan ul li a {
  font-style: normal;
  font-weight: bold;
  color: #e96060;
  text-decoration: none;
}
.bilan ul li a:hover {
  color: #f02c2c;
  transition: 0.5s;
}
.textconclu {
  margin: 50px 30px;
}
.textconclu a {
  color: #e96060;
  text-decoration: none;
}
.textconclu a:hover {
  color: #f02c2c;
  transition: 0.5s;
}
.listimg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.list {
  grid-area: 1 / 1 / 1 / 1;
  margin-top: 0px;
}
.imgplace {
  grid-area: 1 / 2 / 1 / 2;
  margin-left: 50px;
}
