@font-face {
  font-family: "Roboto";
  src: url("../FONT/Roboto/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-family: "Kodchasan";
  src: url("../FONT/Kodchasan/Kodchasan-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
  padding: 0 auto;
}
h1 {
  font-family: "Roboto", sans-serif;
  margin: 100px 0px 150px 0px;
  text-align: center;
  text-decoration: underline red;
}
.alignElement {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.emplacement {
  margin: 20px 100px;
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.emplacement > #calendrier {
  width: 100%; 
  height: 600px;
  margin: 10px;
}
.emplacement2 {
  box-sizing: border-box;
  margin: 40px auto;
  width: 50%;
  height: auto;
  box-shadow: 2px 2px 29px 18px rgba(109, 109, 109, 0.55);
  border-radius: 10px;
}
.emplacement2 > #todolist {
  margin: 20px;
}
@media (max-width: 1270px) {
  .alignElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
